.custom-post h1,
.custom-post h2,
.custom-post h3 {
    color: var(--cor2);
    font-family: 'romie';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.065em;
}

.custom-post p {
    color: var(--cor1);
    font-style: normal;
    font-weight: 228;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.065em;
    display: block;
    margin-bottom: 14px;
}

@media (min-width: 480px) {

    .custom-post h1,
    .custom-post h2,
    .custom-post h3 {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.065em;
    }

    .custom-post p {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.065em;
        margin-bottom: 23px;
    }
}

@media (min-width: 1080px) {

    .custom-post h1,
    .custom-post h2,
    .custom-post h3 {
        font-size: 66px;
        line-height: 79px;
        letter-spacing: 0.065em;
    }

    .custom-post p {
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0.065em;
        margin-bottom: 31px;
    }
}