:root {
    --cor1: #434445;
    --cor2: #CEAF94;
    --cor3: #FEF5ED;
    --cor4: #FCCD7E;
    --cor5: #F8FFDE;
    --cor6: #EE705A;
}

@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-LightC2.woff2') format('woff2'),
        url('Agrandir-LightC2.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before {
    font-size: 30px;
}
.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart.no-txt:before {
    left: 0 !important;
}